<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Ingreso a la Plataforma Universitaria</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>PLATAFORMA SIGA</h1>
            <p>Bienvenido al sistema de aprendizaje para acceder a la Plataforma SIGA</p>
        </header>

        <section>
            <h2>Indicaciones para Ingresar</h2>
            <ol>
                <li>Accede a la plataforma utilizando el enlace proporcionado por el Instituto.</li> <br>
                <A HREF="http://siga.institutos.gob.ec:8080/siga-web/"> SIGA INSTITUTOS </A> <br>
<br>
                <li>Ingresa tus credenciales de usuario y contraseña.</li> <br>
                <div style="text-align: center;"> <img src="../../assets/img/Siga-R.jpeg" width="350" height="450"> </div> <br>
<br>
                <p> NOTA: Las credenciales para el inicio de sesión es el número de cedula y la contraseña otorgada por el Instituto.</p>
                <p> Usuario: 1748351923</p>
                <p> Contraseña: Siga2021*</p>
<br>
                <li> Una vez iniciada sesión podras ingresar a la plataforma donde te vas a dirigir a la parte izquierda donde esta una casa y daras click, para abrir el apartado Academico</li> <br>
                <div style="text-align: center;"><img src="../../assets/img/Siga-P10.jpeg" width="650" height="350"> </div> <br>
<br>
                <li>Cuando hayas ingresado a la sección de lo Academico podras acceder a los diferentes apartados como:</li> <br>
                <div style="text-align: center;"><img src="../../assets/img/Siga-P2.jpeg" width="350" height="450"></div> <br>
<br>
                <li>En el apartado de "Consultar Matricula" Podras saber toda la información respecto a tu matricula.
                Como por ejemplo: El periodo academico, el estado, la carrera, etc. </li> <br>
                <img src="../../assets/img/Siga-P3.jpeg" width="680" height="350"> <br>
<br>
                <li>En el apartado de "FICHA PERSONAL" tendras que llenar todos los campos con tus datos personales de manera OBLIGATORIA (En caso de que tenga un *) para tu respectiva matricula.</li> <br>
                <img src="../../assets/img/Siga-P4.jpeg" width="680" height="350"> <br>
                <li>Una vez llenada toda la información guardar, y luego imprimir la ficha estudiantil.</li> <br>
                <img src="../../assets/img/Siga-P5.jpeg" width="480" height="150"> <br>
<br>
                <li>En el apartado de "SOLICITU DE MATRICULA" los campos ya estaran llenos con su información.
                    (En caso de no ser asi, consultar con el coordinador de carrera)
                </li> <br>
                <img src="../../assets/img/Siga-P6.jpeg" width="740" height="250"> <br>
<br>
                <li>En el campo "Número de comprobante de pago" debera poner "NO" unicamente si no a perdido la gratuidad.
                    Caso contrario poner el número que corresponde del documento del deposito o transaccion que usted realizo. </li>
                <img src="../../assets/img/Siga-P7.jpeg" width="740" height="350"> <br>
<br>
                <li>En la Malla Curricular se llenaran automaticamente las asignaturas, con respecto a su nivel academico. </li> <br>
                <img src="../../assets/img/Siga-P9.jpeg" width="480" height="390"> <br>
<br>
                <li>Por ultimo el estudiante debera subir los archivos solicitados de Cedula de ciudadania, Certificado de No deudar o el Comprobante de pago (SIAU)
                    y en "OTROS DOCUMENTOS" debera subir la Ficha personal llenada anteriormente (Tiene que estar firmada en archivo PDF).</li> <br>
                    <p>Por ultimo dar en "Guardar" y con eso finaliza su solicitud de matricula.</p>
                <img src="../../assets/img/Siga-P8.jpeg" width="680" height="350"> <br>
<br>
                <li>En el apartado de "Mi semestre" vamos a encontrar nuestro Periodo lectivo, Horario de Clases y también vamos 
                    a poder verificar y mirar nuestras notas de las asignaturas. </li><br>
                    <img src="../../assets/img/Siga-P11.jpeg" width="750" height="150"> <br>
                    <img src="../../assets/img/Siga-P12.jpeg" width="750" height="450"> <br>
                    <img src="../../assets/img/Siga-P13.jpeg" width="750" height="250"> <br>
<br>
                <p>Esto fue todo del sistema SIGA.</p>
                <p>Esperamos a ver sido de ayuda!</p>
                <div style="text-align: center;"><img src="../../assets/img/Like.png" width="350" height="250"></div> <br>
                <h3>GRACIAS !</h3>
            </ol>
        </section>
        <footer>
            <p>© 2023 Instituto Tecnológico Superior De Turismo Y Patrimonio Yavirac. Todos los derechos reservados.</p>
        </footer>
    </div>
</body>
</html>
