<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Ingreso a la Plataforma EVA</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>PLATAFORMA EVA</h1>
            <p>Bienvenido al sistema de aprendizaje para acceder a la Plataforma EVA</p>
        </header>

        <section>
            <h2>Indicaciones para Ingresar</h2>
            <ol>
                <li>Accede a la plataforma utilizando el enlace proporcionado por el Instituto.</li> <br>
                <a HREF="https://eva.yavirac.edu.ec/login/index.php"> EVA PLATAFORMA ESTUDIANTIL </a> <br>
<br>
                <li>Ingresa tus credenciales de usuario y contraseña.</li> <br>
                <div style="text-align: center;"> <img src="../../assets/img/Eva-P1.jpeg" width="450" height="450" > </div> <br>
<br>
                <p> NOTA: Las credenciales para el inicio de sesión es el número de cedula, para los de primer ingreso, la contraseña es otorgada por el Instituto. <br>
                (En caso de no tener la contraseña revisar el correo institucional)
                </p>
                <p> Usuario: 1748351923</p>
                <p> Contraseña: ********</p>
<br>
                <li> Una vez iniciada sesión podras ingresar a la plataforma, donde en la parte superior derecha, tendras que verificar que sea tu usuario con el que ingresaste.</li> <br>
                <img src="../../assets/img/Eva-P2.jpeg" width="550" height="150"> <br>
<br>
                <li>Dentro de la plataforma te encontraras con la pagina principal, donde tendras todas las aulas virtuales de tus asignaturas.</li> <br>
                <img src="../../assets/img/Eva-P3.jpeg" width="730" height="350"> <br>
<br>
                <p> NOTA: En caso de que no aparezcan sus aulas virtuales, informar al docente que le ingrese o le agrege al aula virtual de su asignatura.
                </p>
<br>
                <li> Cuando acceda a una de sus aulas virtuales, encontrara una Descripción General de lo que va a tratar la asignatura.
                </li> <br>
                <img src="../../assets/img/Eva-P4.jpeg" width="680" height="350"> <br>
<br>
                <li>También encontrara Datos Informativos del Docente a cargo de la asignatura de su carrera.</li> <br>
                <div style="text-align: center;"> <img src="../../assets/img/Eva-P5.jpeg" width="550" height="350"> </div> <br>
<br>
                <li>Si vamos más abajo, encontraremos el apartado de las tareas que el docente ira activando durante el periodo academico.</li> <br>
                <img src="../../assets/img/Eva-P9.jpeg" width="680" height="350"> <br>
<br>
                <li>Otro apartado de la plataforma es el de las calificaciones, que esta en la parte superior dercha.</li> <br>
                <div style="text-align: center;"> <img src="../../assets/img/Eva-P7.jpeg" width="480" height="190"> </div><br>
<br>
                <li>Si das click en calificaciones, encontraras tus asinaturas, también el promedio y las notas.<br>
                    (Tamnién se pueden ver las notas en la plataforma SIGA)
                </li>
                <img src="../../assets/img/Eva-P8.jpeg" width="550" height="250"> <br>
                <img src="../../assets/img/Eva-P10.jpeg" width="550" height="250"> <br>
<br>
                <li>Esas fueron las funciones Básicas de la plataforma estudiantil EVA.</li>
                <p>Esperamos a ver sido de ayuda! </p>
                <div style="text-align: center;"><img src="../../assets/img/Like.png" width="350" height="250"></div> <br>
<br>
                <h3>GRACIAS !</h3>
            </ol>
        </section>
        <footer>
            <p>© 2023 Instituto Tecnológico Superior De Turismo Y Patrimonio Yavirac. Todos los derechos reservados.</p>
        </footer>
    </div>
</body>
</html>