<div class="background-container">
  <img src="../../assets/img/diseño-gif3.gif" alt="GIF">
  <img class="logo" src="../../assets/img/logo1.png" alt="Logo">
</div>

<div class="center-container">
<mat-card>
    <mat-card-header>
        <h2>Registro</h2>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="registerform" (ngSubmit)="proceedregister()">
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input matInput formControlName="id" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Password</mat-label>
                <input type="password" matInput formControlName="password" >
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" >
              </mat-form-field>
              <mat-radio-group formControlName="gender" aria-label="Select an option">
                <mat-radio-button value="male">Masculino</mat-radio-button>
                <mat-radio-button value="female">Femenino</mat-radio-button>
              </mat-radio-group>
              <div>
                <button mat-raised-button color="primary">Registrar</button>
                <button routerLink="/login" mat-raised-button color="primary">Regresar al Login</button>
              </div>
          </form>
    </mat-card-content>
  </mat-card>
</div>

